{% extends "index.html" %}


    {% block content %}
    <ul class="breadcrumb">
        <li><a href="/">Strona główna</a></li>
        <li><a href="/zespoly">Zespoły</a></li>
        <li class="active">{% block title %}{{ zespol.nazwa }}{% endblock %}</li>
    </ul>
    <div class="main panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Informacje o zespole</h3></div>
        <div class="panel-body">
        <ul>
            <li>Nazwa zespołu - <a href="/zespol-{{zespol.pk}}/">{{ zespol.nazwa }}</a></li>
            <li>Adres - {{ zespol.adres }}</li>
        </ul>
        </div>
        </div>
    {% endblock %}
